body{
    background-color: rgb(232, 226, 226);
}
h1{
    background-color: gray;
    justify-content: space-around;
    display: flex;
    color: white;
    font-style: italic;
    align-items: center;
    font-size: 30px;
}
