body{
    background: rgb(34,187,195);
background: linear-gradient(0deg, rgba(34,187,195,1) 0%, rgba(45,89,253,1) 100%);
}
section{
    max-width: 1160px;
    margin: 0 auto;

}
p{
    font-size: 16px;
    color: black;
}
h1{
    color: rgb(0, 119, 255);
}
h2{
    font-size: 25px;
    font-style: italic;
}
h3{
    font-size: 18px;
    color: black;
    padding: 0 80px;
}

header{
    background-color: rgb(0, 162, 255);
    justify-content: space-around;
    display: flex;
    color: white;
    font-style: italic;
    align-items: center;
}



header Div{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
}
.bnt-red{
    display: flex;
    align-items: center;
    font-size: 20px;
    border-width: 1.5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding: 1.5px;
}
.bnt-red:hover{

    color: rgb(0, 132, 255);
    background-color: white;
}

.paragra2{
    font-size: 18px;
    
      
}
.bnt-bleu{
    display: flex;
    align-items: center;
    font-size: 20px;
    border-width: 1.5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding: 1.5px;
}
.bnt-bleu:hover{
    color: rgb(0, 132, 255);
    background-color: white;

}


nav{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    color: white;
    font-style: normal;
    align-items: center;
    font-size: 15px;
}
nav Div{
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.bnt-white{
    color: white;
    font-size: 18px;
    border-width: 1.5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}



.paragranav2{
    color: rgba(167, 165, 165, 0.700);
    font-size: 12px;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    padding: 3px;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    border-width: 1.5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding: 1.5px;
    background-color: rgb(103, 160, 220);
}
a:hover{
    color: gray;
    background-color: white;
}

.main-image{
    margin-top: 40px;
}
.main-image img{
    width:100%;
}
.main-image div{
    background-color: rgba(9, 101, 250, 0.599);
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 17px;
}

.main-image p{
    font-size: 20px;
    color: white;
    
}

.item{
    width: 280px;
    border: 1px solid rgb(0, 132, 255);
    background-color: wheat;
    margin-top: 40px;
}

.container-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-items2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-items3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


